.text-placeholder {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
    margin-bottom: 9px;
    border-radius: 7px;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: 30px;
    margin-top: 5px;
}
  
@keyframes floating {
    0% { transform: translate(0,  0px) rotate(-2deg); }
    25%  { transform: translate(0, 10px) rotate(0deg); }
    50%  { transform: translate(0, 20px) rotate(-2deg); }
    75%  { transform: translate(0, 10px) rotate(-4deg); }
    100%   { transform: translate(0, 0px) rotate(-2deg); }    
}